# ;----------------------------;
# ;  Project Specific Ignores  ;
# ;----------------------------;
# VIM temp files
*~
*swp

# Node modules folder
publish/
node_modules/

# Project's dummy data file.
data/*

# ;----------------------------;
# ; GitHub Boilerplate Ignores ;
# ;----------------------------;

# C extensions
*.so

# OSX cache files
.DS_Store

# Distribution / packaging
env/
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
